<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.presentor">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".screenshare.CreateActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".screenshare.AccessActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".domotics.DomoticsActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".screenshare.ClientActivity"
            android:parentActivityName=".screenshare.AccessActivity" />
        <activity
            android:name=".slider.HelpActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".MainActivity" />

        <!-- Declare FloatingWidget Service over here and set enabled true -->
        <service
            android:name=".floatingwidget.FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name=".db.ServicesProvider"
            android:authorities="com.example.android.presentor"
            android:exported="false" />

        <service
            android:name=".FloatingWidgetService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.presentor.MainActivity" />
        </activity>

    </application>

</manifest>